In [9]:
import pandas as pd
import os
from natsort import natsorted

In [19]:
df = pd.read_excel("/home/yw4196/RANN_DeepLearning/RANN_scores_demographics_final.xls", engine='xlrd')
df

,subid,Age,Sex,Race,Hispanic/Non-Hispanic,Education,WTARraw,WTAR_iq,DgtSym_NumCor
0,P00004253,73,M,B/AA,Y,12.0,22.0,84.0,53
1,P00004331,65,M,White,Y,20.0,45.0,119.0,80
2,P00004382,61,F,White,N,16.0,49.0,125.0,84
3,P00004387,61,F,White,N,14.0,25.0,89.0,86
4,P00004388,67,F,B/AA,N,18.0,28.0,93.0,43
...,...,...,...,...,...,...,...,...,...
255,P00004960,76,M,White,N,18.0,44.0,117.0,85
256,P00004962,77,F,White,N,18.0,50.0,126.0,85
257,P00004965,71,F,White,N,18.0,47.0,122.0,82
258,P00004966,76,F,White,N,13.0,46.0,120.0,58
259,P00004967,59,F,Other,N,15.0,27.0,92.0,69

In [30]:
directory_path = "/home/yw4196/RANN/Deep_Learning_Brain_Images/"
file_list = [f.split('_')[0] for f in os.listdir(directory_path) ]
file_list = [file for file in file_list if file in df['subid'].tolist()]

file_paths = []
for file in file_list:
    file_paths.append(directory_path + file + "/brain.nii.gz")

file_paths = natsorted(file_paths)
df2['images'] = file_paths

In [29]:
file_list = [file for file in file_list if file in df['subid'].tolist()]
file_list
not_there = [file for file in df['subid'].tolist() if file not in file_list]
not_there
df2 = df[df['subid'].isin(file_list)]
df2

,subid,Age,Sex,Race,Hispanic/Non-Hispanic,Education,WTARraw,WTAR_iq,DgtSym_NumCor
0,P00004253,73,M,B/AA,Y,12.0,22.0,84.0,53
1,P00004331,65,M,White,Y,20.0,45.0,119.0,80
2,P00004382,61,F,White,N,16.0,49.0,125.0,84
3,P00004387,61,F,White,N,14.0,25.0,89.0,86
4,P00004388,67,F,B/AA,N,18.0,28.0,93.0,43
...,...,...,...,...,...,...,...,...,...
255,P00004960,76,M,White,N,18.0,44.0,117.0,85
256,P00004962,77,F,White,N,18.0,50.0,126.0,85
257,P00004965,71,F,White,N,18.0,47.0,122.0,82
258,P00004966,76,F,White,N,13.0,46.0,120.0,58
259,P00004967,59,F,Other,N,15.0,27.0,92.0,69

In [31]:
df2.to_csv("RANN_tidy_brain.csv", index = False)